//$font-regular: "adelle-sans-arabic,sans-serif";
////$font-medium: "robotFontMedium";
//$font-bold: "robotFontBold";
//$font-arabic-regular: "BahijRegular";
////$font-arabic-bold: "BahijBold";
//
//@font-face {
//    font-family: adelle-sans-arabic,sans-serif;
//
//    font-weight: 400;
//
//    font-style: normal;
//}
//@font-face {
//    font-family: adelle-sans-arabic,sans-serif;
//
//    font-weight: 600;
//
//    font-style: normal;
//}

/*Main Rules*/
html,
body {
    font-family: sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

/*for arabic site*/
html,
body {
    text-align: right
}

.row {
    flex-direction: row-reverse;
}

//.form-control{
//    text-align: right;
//    direction: rtl;
//}
.form-group {
    //    text-align: right;
    direction: rtl;

    label {
        direction: ltr
    }
}

.form-check-inline .form-check-input {
    margin-right: 0;
    margin-left: .3125rem;
}

input.form-control:focus {
    box-shadow: none;
//    border-color: #ced4da;
}
.btn.btn-primary:focus,.btn.btn-primary:active{
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5);
        outline: none;
        border-color: #000;

}
/*End Main Rules*/
.register-page {
    .page-content-wrapper {
//        width: 700px;
        width: 50%;
        margin-left: auto;
        padding: 50px 10px;
        background-color: #fff
    }

    background-size: 100%;
    background-attachment: fixed;
    //    background-position: -1px -49px;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(../images/Desktop%20From%20BG.jpg);

    .logo-wrapper {
        text-align: center;

        .logo {
            width: 100%;
            max-width: 100px;
            margin: auto
        }
    }

    section{
        margin-bottom: 30px;
    }
    .section-header {
        h3{
            font-size: 20px;
        }
        hr {
            margin-right: 0;
            border-top: 2px solid #3C2A4A;
        }
    }

    button[type="submit"] {
        background: rgb(169, 140, 75);
        background: linear-gradient(276deg, rgba(169, 140, 75, 1) 0%, rgba(203, 165, 82, 1) 100%);
        box-shadow: 0 10px 18px #D8B56661;
        width: 471px;
        max-width: 100%;
        height: 63px;
border-color: transparent
    }
    .policies{
        height: 200px;
        width: 80%;
        padding-right: 15px;
        margin-left: auto;
        overflow-y: scroll
    }
}
